In [ ]:
print("Hello World")

Hello World

In [ ]:
print("   /|")
print("  / |")
print(" /  |")
print("/___|")

   /|
  / |
 /  |
/___|

In [ ]:
character_name = "John"
character_age = "36"
print("There once was a man named " + character_name + ", ")
print("He was 70 old years old.")
print("He really liked the name JOhn")
print("But didn't like being " + character_age )

There once was a man named John,
He was 70 old years old.
He really liked the name JOhn
But didn't like being 36

In [ ]:
isMale = False
print("Giraffe \n Academy")

Giraffe
 Academy

In [ ]:
phrase = "Giraffe Academy"
print(phrase.lower())
print(phrase.lower().islower())
print(len(phrase))
print(phrase[0])
print(phrase[4])
print(phrase.index("Aca"))
print(phrase.replace("Aca","aca"))

giraffe academy
True
15
G
f
8
Giraffe academy

In [ ]:
print(2.098)
print(3+5)
print(3*4)
print(99*11111)
print(10 % 3)

my_num = -5
print(my_num)

print(str(my_num) + " is my favourite number") #adding two strings

#print(my_num + " is my favourite number") Produce an error because we can not add number and a string

print(abs(my_num)) #give the absolute value of my_num

print(pow(5,6)) # this give the 5^6 

print(max(3,5)) # gives the maximum of two numbers

print(min(3,99))

print(round(3.2))  #round the number \

2.098
8
12
1099989
1
-5
-5 is my favourite number
5
15625
5
3
3

In [ ]:
from math import *

my_num = -5

print(floor(3.444445666)) # gives the lowest value of that number

print(ceil(3.45)) # gives the hightest value of the given number

3
4

In [ ]:
print(sqrt(36)) # gives the square root of a given number

6.0

In [ ]:
name = input("Enter your name: ")
age = input("Enter your age : ")
print("Hello "+ name + ", Your are "+age+"!") #Take the input from user and print it out

Enter your name: Surender Siwach
Enter your age : 27
Hello Surender Siwach, Your are 27!

In [ ]:
num1 = input("Enter the first number : ")
num2 = input("Enter the secodn number : ")
result = float(num1) + float(num2)

print(result)

Enter the first number : 34.44
Enter the secodn number : 44.55
78.99

In [ ]:
color = input("Enter a color : ")
plural_noun = input("Enter a Plural Noun : ")
celebrity = input("Enter a celebirty : ")



print("Roses are " +color)
print(plural_noun + " are blue ")
print("I love " + celebrity)

Enter a color : Red
Enter a Plural Noun : Nasa
Enter a celebirty : Steven Hayde
Roses are Red
Nasa are blue
I love Steven Hayde

In [ ]:
friends = ["Kevin", "Karen", "Jim","Bijender", "Gandhi", "Dubey", "Bamal","Sharma","Mahesh"]

print(friends[0])
print(friends[1])
print(friends[-2])
print(friends[1:]) #From first to all other elements
print(friends[:-1]) #Not the last element

Kevin
Karen
Sharma
['Karen', 'Jim', 'Bijender', 'Gandhi', 'Dubey', 'Bamal', 'Sharma', 'Mahesh']
['Kevin', 'Karen', 'Jim', 'Bijender', 'Gandhi', 'Dubey', 'Bamal', 'Sharma']

In [ ]:
lucky_numbers = [4,5,6,7,8,9,10,11,12]
friends = ["Kevin", "Karen", "Jim","Bijender", "Gandhi", "Dubey", "Bamal","Sharma","Mahesh"]

friends.append("Vikas")

friends.insert(1,"Sanjay Kumar")
print(friends)

friends.remove("Jim")
friends.pop()
print(friends)
print(friends.index("Kevin"))

friends.sort()
print(friends)


friends.clear()
lucky_numbers.reverse() # To reverse the order of the list
print(lucky_numbers)

print(friends)

['Kevin', 'Sanjay Kumar', 'Karen', 'Jim', 'Bijender', 'Gandhi', 'Dubey', 'Bamal', 'Sharma', 'Mahesh', 'Vikas']
['Kevin', 'Sanjay Kumar', 'Karen', 'Bijender', 'Gandhi', 'Dubey', 'Bamal', 'Sharma', 'Mahesh']
0
['Bamal', 'Bijender', 'Dubey', 'Gandhi', 'Karen', 'Kevin', 'Mahesh', 'Sanjay Kumar', 'Sharma']
[12, 11, 10, 9, 8, 7, 6, 5, 4]
[]

Tuples

In [ ]:
coordinates = [(4,5),(6,7),(9,100)] # we cannot change the tuple once we define them
print(coordinates[1])

(6, 7)

In [ ]:
def say_hi(name,age):
  print("Hello "+ name +"!" +" your age is "+ age)
print("Top")
say_hi("Mike","34")
print("Bottom")

Top
Hello Mike! your age is 34
Bottom

In [ ]:
def cube(num):
  return num*num*num
  print("code") #not able to reach here

result = cube(5)
print(cube(4))

result

64

125

In [ ]:
is_Male = True
is_Tall = False
if is_Male and is_Tall : 
  print("You are a male or tall or both")
elif is_Male and not (is_Tall):
  print("You are a short male")  
else :
  print("You are not a male ")

You are a short male

In [ ]:
def max_num(num1, num2, num3):
  if num1 >= num2 and num1 >num3:
    return num1
  elif num2 >= num1 and num2 > num3:
    return num1
  else:
    return num3
print(max_num(3,40,48))

48

In [ ]:
num1 = float(input("Enter first number : "))
op = input("Enter operator : ")
num2 = float(input("Enter the second number : "))

if op == "+":
  print(num1+num2)
elif op == "-":
  print(num1 - num2)
elif op == "*":
  print(num1*num2)
elif op == "/":
  print(num1/num2)
else:
  print("Invalid operator")

Enter first number : 9
Enter operator : -
Enter the second number : 2
7.0

**Dictonaries**

In [ ]:
monthConversion = {
    "Jan":"January",
    "Feb":"Feburary",
    "Mar":"March",
    "Apr":"April",
    "May":"May",
    "Jun":"June",
    "Jul":"Julu",
    "Aug":"August",
    "Oct":"October",
    "Nov":"November",
    "Dec":"December"
 
}

print(monthConversion["Nov"])
print(monthConversion["Dec"])
print(monthConversion["Mar"])

November
December
March

In [ ]:
i = 1
while i <= 10:
  print(i)
  i += 1

print("Done with the number")

1
2
3
4
5
6
7
8
9
10
Done with the number

In [ ]:
secret_word = "giraffe"
guess = ""
guess_count = 0
guess_limit = 3
out_of_guess = False

while guess != secret_word and not(out_of_guess):
  if guess_count < guess_limit:
    guess = input("Enter guess : ")
    guess_count += 1
  else:
    out_of_guess = True

if out_of_guess:
  print("Out of guesses, You lose! ")
else:
  print("You win!")

Enter guess : asdf
Enter guess : sadf
Enter guess : rahul
Out of guesses, You lose!

In [ ]:

friends = ["Jim","Karen","Kevin"]
for letter in "Giraffe Academy":
  print(letter)

G
i
r
a
f
f
e

A
c
a
d
e
m
y

In [ ]:
friends = ["Jim", "Carey","Aslam"]
for friend in friends :
  print(friend)


for index in range(12,23):
  print(index)

for index in range(len(friends)):
  print(index)

Jim
Carey
Aslam
12
13
14
15
16
17
18
19
20
21
22
0
1
2

In [ ]:
print(2**8)

def raise_to_power(base_num, pow_num):
  result = 1
  for index in range (pow_num):
    result = result*base_num
  return result

print(raise_to_power(2,9))

256
512

In [ ]:
number_grid = [
               [1,2,3],
               [4,5,6],
               [7,8,9],
               [0]
]
print(number_grid[3][0])

for row in number_grid:
  for col in row:
    print(col)

0
1
2
3
4
5
6
7
8
9
0

In [ ]:
def translate(phrase):
  translation = ""
  for letter in phrase:
    if letter in "AEIOUaeiou":
      translation = translation + "g"
    else :
      translation = translation + letter
  return translation

print(translate(input("Enter a phrase : ")))

Enter a phrase : dog
dgg

In [ ]:
#this is a comment which python is not able to read




print("Comments are fun!")

Comments are fun!

In [ ]:
#try and except statement
try:
  value = 10/0
  number = int(input("Enter a number : "))
  print(number)
except:
  print("Invalid input")

Invalid input

# Reading the file

In [ ]:
#open("file_name","r+") #read and write
open("File_name.txt","w") #write in the file
open("file_name","a") #append the data in the file
employee_file = open("file_name","r") #read the file

#employee_file.close()

print(employee_file.readable())


print(employee_file.readline())

print(employee_file.read())

print(employee_file.readline())

employee_file.close()

True

# Appending in a file

In [ ]:
employee_file = open("employee.txt","w") #appending to a file

employee_file.write("Tony - Driver")

employee_file.write("\nSachin -  ITI ")

employee_file.close()

In [ ]:
import useful_tools
print(useful_tools.roll_dice(10))

6

In [3]:
student = open("Student.py","w")
student.close()

In [15]:
from Student import Student

student1 = Student("Jim","Bussiness",3.1,False)
student2 = Student("Carry","Rem", 3.4, True)
print(student1.name)

TypeError: ignored

In [16]:
que = open("question_prompts.py","w")
que.close()

In [17]:
que = open("Question.py","w")

que.close()

In [24]:
from Question import Question

question_prompts = [
  "What colors are apples? \n(a) Red /Green \n (b) Purple \n (c) Orange \n \n",
  "What colors are bananas? \n(a) Teal \n (b) Magenta \n (c) Yellow \n \n",
  "What colors are strawberries? \n(a) Yellow \n (b) Red \n (c) Orange \n \n"
]

questions = [
  Question(question_prompts[0],"a"),
  Question(question_prompts[1],"c"),
  Question(question_prompts[2],"b"),
]

def run_test(questions):
  score = 0
  for question in questions:
    answer = input(question.prompt)
    if answer == question.answer:
      score += 1
  print("You got " + str(score)+" out of "  + str(len(questions))  + " question right. ")

run_test(questions)

What colors are apples?
(a) Red /Green
 (b) Purple
 (c) Orange

a
What colors are bananas?
(a) Teal
 (b) Magenta
 (c) Yellow

b
What colors are strawberries?
(a) Yellow
 (b) Red
 (c) Orange

c
You got 1 out of 3 question right.

In [38]:
import numpy as np
class Student:

    def __init__(self, name, major, gpa):
      self.name = name
      self.major = major
      self.gpa = gpa

    def on_honor_roll(self):
      if self.gpa  >= 3.5:
        return True
      else:
        return False



student1 = Student("Oscar","Accounting","3.1")
print(student1.on_honor_roll())

AttributeError: ignored

In [45]:
class Chef: 

  def make_chicken(self):
    print("The chef makes a chicken")

  def make_salad(self):
    print("The chef makes a salad")
  
  def make_special_dish(self):
    print("The chef make a orange chicken")

  def make_friend_rice(self):
    print("The chef makes fried rice")

class ChineseChef:
  def make_fried_chicken(self):
    print("The chef makes friend chicken")

myChef = Chef()
myChef.make_special_dish()

The chef make a orange chicken

In [50]:
class  ChineseChef(Chef):
  def make_fried_rice(self):
    print("The chef makes fried rice.")

ChineseChef.make_fried_rice()

NameError: ignored